body {
	color: #2f80ed;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	text-align: center;
}

p {
	font-size: 16px;
}

div img {
	display: block;
	margin: 110px auto 0;
}

.h1 {
	margin: 0 0 10px 0;
	font-size: 120px;
	line-height: 140px;
	font-weight: 400;
}

.h1:hover {
	cursor: pointer;
}

.hover-show {
	line-height: 20px;
	font-weight: 400;
	margin: 0 440px;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.h1:hover + .hover-show {
	opacity: 1;
}

footer {
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
}

footer p {
	line-height: 18px;
	font-weight: normal;
}

footer p a {
	color: inherit;
}
